<!DOCTYPE html>
<html>
  <head>
    <title>Form Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>MOCK FORM</h1>
    <form action="/submit" method="post">
      <label for="input_firstname">First name:</label>
      <input type="text" id="input_firstname" name="firstname_value" placeholder="..." />
      <label for="input_lastname">Last name:</label>
      <input type="text" id="input_lastname" name="lastname_value" placeholder="..." />
      <label for="input_age">Age:</label>
      <input type="number" id="input_age" name="age_value" placeholder="..." /> 
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
