<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/form">
      <button type="submit">Form Redirect</button>
    </form>
    <form action="/text">
      <button type="submit">Text Files Operations</button>
    </form>
  </body>
</html>
