<!DOCTYPE html>
<html>
  <head>
    <title>results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Results</h1>
    <p>Welcome to the results page</p>
    <p>First Name: <%= firstname %></p>
    <p>Last Name: <%= lastname %></p>
    <p>Age: <%= age %></p>
  </body>
</html>
